
/** mobile reset **/

body {
	text-align: left;
}

#bd div, #bd ul, #bd legend, #authentication .box {
	width: 100%;
	float: none;, 
	margin: 0;
	padding: 0;
	border: none;
	background: none;
	margin-top: .5em;
	margin-bottom: .5em;
	text-align: left;
}

.yui-t6 #yui-main, .yui-t6 #yui-main .yui-b, .yui-t6 .yui-b {
	width: 100%;
	margin: 0;
	padding: 0;
	float: none;
}

h1, h2, h3, h4 {
	font-weight: bold;
	font-size: 110%;
	margin-top: .5em;
	margin-bottom: .5em;
	color: #000;
}

/** layout **/

#bd {
	padding: 1em;
	padding-top: 0;
}

#breadcrumb {
	padding: .5em;
	margin: 0;
}

#sidebar {
	display: none;
}

/** hacks, can't figure why this is necessary **/

#bd ul.databaseSectionList, #databases_categories .yui-u  {
	margin-left: 0px;
}

#bd .recordActions div {
	width: 96%;
}

/** lists **/

ul.databaseSectionList li, #databases_categories li, .result, #bd .recordFullTextOption { 
	margin-bottom: .2em;
	border-bottom: 2px solid #ccc;
	background-color: #fff;
	padding: .4em;
	padding-right: 18px;
	margin-left: 0;
	paddin-left: 0;
	list-style-type: none;
	font-size: 130%;
	background-image: url(../images/mobile-arrow.png);
	background-position: right center;
	background-repeat: no-repeat;
}

#databases_categories li a, .result a {
	display: block;
}

/** database selection **/

#bd legend {
	padding-top: .7em;
	padding-bottom: .7em;
}

/** login **/

#authentication .box {
	margin: 0;
	width: inherit;
	padding: 0;
}

/** results **/

.resultsInfo, #sortOptions { 
	display: none;
}

/** pager **/

#bd div.resultsPager {
	margin: 1em;
}

.resultsPager li {
	margin: 0;
	padding: 0;
}

.resultsPagerList li strong, .resultsPagerList li a.resultsPagerLink {
	display: none;
}

.resultsPagerNext {
	font-size: 150%;
	padding: .5em;
	border: 1px solid #ccc;
	background-color: #fff
}

/** full record **/

#bd dt, #bd dd {
	margin-bottom: .3em;
	display: block;
}

#bd dt { 
	margin: 0;
	padding: 0;
	float: none;
	font-weight: bold;
	width: 100%;
	text-align: left;
}

#bd dd {
	margin-left: 1em;
}

#record li {
	margin-left: 1em;
}

/** hide for now, will add later **/

#bd .saveRecord {
	display: none;
}

/** books: this is hacked in here until we get the search arch finished **/

#tabnav {
	display: none;
}

.worldcatBookCover, #worldcatRecordBookCover, #worldcatAdvancedMore {
	display: none;
}

.worldcatAvailable, .worldcatAvailableRecord, table.holdingsTable {
	margin: 0;
	padding: 0;
}

table.holdingsTable {
	margin-top: 1em;
	margin-bottom: 1em;
}

/** holdings: dupped here, remove this when search arch in place **/

.holdingsTable {
	border-collapse:collapse;
	border-spacing:0;
	border: 1px solid #ccc;
	margin: 15px;
}

.holdingsTable th, .holdingsTable td {
	text-align: left;
	margin: 0px;
	padding: 5px;
	padding-right: 10px;
	border-bottom: 1px solid #eee;
}

.holdingsTable th {
	background-color: #efefef;
}

#smsOption {
	display: none;
}
