/** DATABASES **/

.databases-list li {
	margin-bottom: 2em;
	max-width: 600px;
}
.database-title {
	font-weight: bold;
	margin-bottom: .5em;
}
.database-description {
	color: #666;
}
.database-more-info {
	margin-top: .3em;
}		
.database-more-info a, .database-more-info a:visited {
	color: green;
}

.subject-list, .subject-list ul.databases-list {
	margin-left: 15px;
}

.subject-list h2 {
	margin-top: 40px;
}

.sidebar h2:first-child {
	margin-top: 0;
}

.sidebar .subject-list {
	margin-left: 0;
}

.sidebar .databases-list li {
	list-style: disc;
	margin-left: 10px;
	margin-bottom: 3px;
}

.sidebar ul.databases-list {
	margin-bottom: 20px;
}

.sidebar .database-title a {
	font-weight: 100;
}

.librarian {
	margin-left: 20px;
}

.librarian h3 {
	margin-bottom: 0;
}

#bd div.librarian dt {
	width: inherit;
	padding-right: 5px;
}

#bd div.librarian dd {
	margin-left: 0;
}

#bd div.librarian dl {
	margin-bottom: 3em;
}

/** EMBED **/

#snippet-control {
	padding: 20px;
}

#snippet-control h2 {
	margin-left: -20px;
}

#snippet-display-table td {
	padding-right: 1em;
}

.display-textbox {
	width: 100%;
	font-size: 80%;
}

#snippet-subcategories {
	margin: 1.3em;
}

#bd p.option-info {
	margin: 1.3em;
	color: #666;
}

.database-form-edit {
	margin: 4em;
}

.database-form-edit input[type="checkbox"] {
	margin: 0;
	margin-top: 4px;
}
.input-long {
	width: 400px;
}

/** These are duplicated in mobile @todo: fix that **/

.database-alpha-letters {
	margin-top: 3em;
	margin-bottom: 3em;
}

.database-alpha-letters a, .database-alpha-letters strong {
	display: inline-block;
	padding: .5em;
	border: 1px solid #ccc;
	background-color: #efefef;
	border-radius: 3px;
	margin: 2px;
	font-size: 110%;
}

.database-alpha-letters strong {
	border: 1px solid #036;
	background-color: #369;
	color: #fff;
}

.database-letter-seperator {
	display: none;
}

/** end dup **/

.databases-categories-list li, #databases-additional-options li {
	padding: 5px;
}

.databases-categories-list li a, #databases-additional-options li a {
	position: relative;
	padding-left: 20px;
	display: block;
}

.databases-categories-list li a:before, #databases-additional-options li a:before{ 
	content: "\203A"; 
	color: #999; 
	position: absolute; 
	top: -1px; 
	left: 3px; 
}

.database-details {
	margin-top: 1em;
	max-width: 600px;
}

.database-details dl div {
	margin-top: .7em
}

.database-link {
	margin: 2em;
}

#database-form label.error {
	color: red;
	padding-top: 4px;
	display: inline-block;
	padding-left: 1em;
}

ul.tagit {
	margin-left: 0;
	width: 300px;
	border: 1px solid #ccc;
	font-size: 14px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}