.sidebar, #bd-top, #tabnav, .results-database-recommendations, .save-record-action { display: none; }

.ada, #skipnav {
	position: absolute; 
	top: -1000px; 
}

/* Search Results */

.results-info {
	font-size: 90%;
	padding: 0 30px .7em 15px;
	white-space: normal;
}

.results-info a.ui-link, .results-info a.ui-link:visited {
	text-decoration: none;
	color: #666;
	font-weight: normal;
}

.results-info div {
	margin-bottom: .6em;
}

.results-info span {
	padding-right: 1em;
}

/* Catalog */

.holdings-table {
	border-collapse:collapse;
	border-spacing:0;
	border: 1px solid #ccc;
	margin: 15px;
}

.holdings-table th, .holdings-table td {
	text-align: left;
	margin: 0px;
	padding: 5px;
	padding-right: 10px;
	border-bottom: 1px solid #eee;
}

.holdings-table th {
	background-color: #efefef;
}

/* Databases */

.database-alpha-letters {
	margin-top: 3em;
	margin-bottom: 3em;
}

.database-alpha-letters a, .database-alpha-letters strong {
	display: inline-block;
	padding: .5em;
	border: 1px solid #ccc;
	background-color: #efefef;
	border-radius: 3px;
	margin: 2px;
	font-size: 110%;
}

.database-alpha-letters strong {
	border: 1px solid #036;
	background-color: #369;
	color: #fff;
}

.database-letter-seperator {
	display: none;
}

.subject-list ul, .subject-list li {
	padding-left: 0;
	list-style: none;
}
	

