/** RESULTS **/

.book-cover {
	width: 80px;
	float: left; 
	text-align: right;
}

.result {
	margin-bottom: 1.5em;
	padding-bottom: 1.5em;
	border-bottom: 1px solid #ccc;
}

.book-result {
  margin-left: 79px;
  padding-left: 20px;
}

.book-abstract-data {
	margin-bottom: 10px;
}

.results-type {
	margin-top: 5px;
}

.results-info {
	padding-left: 0px;
	border-left: 0px;
}

/** RECORD **/

#book-record-book-cover {
	width: 120px;
	float: left; 
}

.record-full-text {
	clear: both;
	margin-top: 20px;
}

#bd dt {
	clear: none;
}

.summary-online-holding {
	margin: 1em;
	margin-bottom: 1.2em;
}

#record .book-holdings li {
	margin-left: 30px;
}

.book-available-record {
	max-height: 400px; 
	overflow-y: scroll; 
	margin-bottom: 20px;
}

.google-preview {
	margin: 1em;
}

/** HOLDINGS **/

.holdings-table {
	border-collapse:collapse;
	border-spacing:0;
	border: 1px solid #ccc;
	margin: 15px;
}

.holdings-table th, .holdings-table td {
	text-align: left;
	margin: 0px;
	padding: 5px;
	padding-right: 10px;
	border-bottom: 1px solid #eee;
}

.holdings-table th {
	background-color: #efefef;
}

ul.holdings-summary-statement {
	margin-bottom: 1em;
	padding-left: 1em;
}

#record ul.holdings-summary-statement li {
	list-style-type: none;
	padding-bottom: .5em;
	margin-left: 0;
}

#book-advanced-more {
	margin-top: 20px;
}

/** ADVANCED SEARCH FORM **/
	
#book-advanced-search fieldset {
	margin: 10px;
	padding: 20px;
	border: 2px solid #CCCCCC;
	margin-bottom: 20px;
	clear: left;
}

#book-advanced-search legend {
	background-color: #FFFFFF;
	margin-top: -10px;
	font-weight: bold;
	padding: 10px;
}

#book-advanced-search p { 
	margin-top: 10px;
	margin-bottom: 10px;
}

#book-advanced-search .explain {
	font-size: 90%;
	color: #666;
	margin: 10px;
}

#book-advanced-search td {
	vertical-align: top;
}
	
#search-terms li {
	margin-top: 10px;
	margin-bottom: 10px;
	background: none;
}

#search-year {
	margin-top: 30px;
}

#book-advanced-search input {
	padding: 2px;
}

#book-advanced-search option { 
	padding: 2px;
	padding-right: 4px;
}

option.basic-option {
	background-color: #FFFFCC;	
}

.limit li {
	margin-top: 5px;
	margin-bottom: 5px;
}

.limit li input {
	margin-right: 10px;
}

#lang-hand {
	margin-left: 20px;
}

#basic-limits td {
	padding: 5px;
}

#search-submit {
	margin-top: 30px;
	margin-left: 30px;
}

#search-submit input {
	padding: 10px;
	cursor: pointer;
	font-weight: bold;
}

/** SMS **/

#sms {
	margin: 2em;
	margin-left: 0;
	border: 1px solid #ccc; 
	padding: 1.5em;
	padding-top: .5em;
	padding-bottom: .5em;
	background-color: #efefef;
}

.sms-property {
	float: left;
	height: 150%;
	font-weight: bold;
}

.sms-property {
	clear: left;
	float: left;
	font-weight: bold;
	width: 13em;
	margin-bottom: 1em;
	text-align: right;
}

.sms-value {
	margin-left: 15em;
	margin-bottom: 1em;
}

.sms-copy {
	margin-left: 2em;
	margin-top: 1em;
	display: block;
}

.sms-note {
	margin: 1em;
	font-size: 90%;
	font-style: italic;
}