.record-actions, .sidebar, #bd-top, #tabnav, .results-database-recommendations, .save-record-action { display: none; }

.results-info {
	font-size: 90%;
	padding: 0 30px .7em 15px;
	white-space: normal;
}

.results-info a.ui-link, .results-info a.ui-link:visited {
	text-decoration: none;
	color: #666;
	font-weight: normal;
}

.results-info div {
	margin-bottom: .6em;
}

.results-info span {
	padding-right: 1em;
}


